---
import JavascriptIcon from "../images/javascript.svg";
import TypescriptIcon from "../images/typescript.svg";
import ReactIcon from "../images/react.svg";
import NextJsIcon from "../images/nextjs.svg";
import PHPIcon from "../images/php.svg";
import LaravelIcon from "../images/laravel.svg";
import CakePHPIcon from "../images/cakephp.svg";
---

<div
	class="h-auto p-5 justify-center bg-white border border-gray-200 rounded-lg shadow"
	style={{ backgroundColor: "white" }}
>
	<div class="pb-4 text-4xl font-extrabold dark:text-black">💫 Skills</div>
	<div class="flex justify-center flex-wrap">
		<img
			class="m-5"
			src={JavascriptIcon}
			width={50}
			height={50}
			alt="JavascriptIcon"
		/>
		<img
			class="m-5"
			src={TypescriptIcon}
			width={50}
			height={50}
			alt="TypescriptIcon"
		/>
		<img class="m-5" src={ReactIcon} width={50} height={50} alt="ReactIcon" />
		<img class="m-5" src={NextJsIcon} width={50} height={50} alt="NextJsIcon" />
		<img class="m-5" src={PHPIcon} width={50} height={50} alt="PHPIcon" />
		<img
			class="m-5"
			src={LaravelIcon}
			width={50}
			height={50}
			alt="LaravelIcon"
		/>
		<img
			class="m-5"
			src={CakePHPIcon}
			width={50}
			height={50}
			alt="CakePHPIcon"
		/>
	</div>
</div>
